@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'PLAYFAIR';
    src: url('../../public/PlayfairDisplay-Regular.ttf');
}

@font-face {
    font-family: 'MIGRA';
    src: url('../../public/Migra-Extralight.ttf');
}

* {
    scroll-behavior: smooth !important;
}

.burger-wrapper {
    cursor: pointer;
}

#menu {
    background: #333;
    width: 50rem;
    height: 100vh;
    position: fixed;
    right: 0;
    transition-timing-function: cubic-bezier(10,2,3,1);
    transform: translateX(50rem);
    top: 0;
    z-index: 0;
    transition: 0.5s;
}

#menu {
    display: none;
}
  
#menu:checked ~ #meny {
    transform: translateX(0rem);
}
  
#burger {
    position: absolute;
    cursor: pointer;
    width: 2rem;
    height: 1.25rem;
    right: 1rem;
    top: 1rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
  
#burger > div {
    height: 2px;
    background-color: #000;
    transition: 0.5s;
    z-index: 999;
}
  
#menu:checked ~ #burger > div {
    background-color: #222;
}
  
#menu:checked ~ #burger > div:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

#menu:checked ~ #burger > div:nth-child(2) {
     opacity: 0;
}

#menu:checked ~ #burger > div:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
}
  
.intro-text {
    font-size: clamp(3rem, 3rem + 8vw, 8vw);
}
  